#form textarea, #form input, #toTop, .sf-menu li a, .icon, .a3, .circle, .circle1, a.btn
{behavior:url(js/PIE.htc); position:relative;}



.icon1 {behavior:url(js/PIE.htc);}






.sf-menu ul{behavior:url(js/PIE.htc); position:absolute;}







a.gal:hover img {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=20);
}

.block_img2 {
	margin: 2px 4px 23px 0;
}


#form .invalid .error-message, #form .empty .empty-message {
	display: block;
}

#form .error-message, #form .empty-message {
	display: none;
}







/*
#form textarea, #form input, .img1, .img2, .socials a span, .icon, #toTop, .page3_img, .block_img2, .circle, .block_img, .sf-menu li a{behavior:url(js/PIE.htc); position:relative;}
.nav a:after, .icon1, .icon2, .icon3{behavior:url(js/PIE.htc);}
.sf-menu ul{behavior:url(js/PIE.htc); position:absolute;}
*/