@{
    ViewBag.Title = "Home Page";
}


@section fma {
<div class="grid_12">
    <div class="slider_wrapper">
        <div id="camera_wrap">
            <div data-src="/images/slide1.jpg">
                <div class="caption fadeIn">
                    <h2>Journalist</h2>
                    <div class="p3">Phasellus porta. Fusce susct</div>
                    <p class="p1">Phasellus porta. Fusce susct varius mi. Cum sociis natoque penabus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.</p>
                    <a class="a2" href="#" onclick="MoveTo('something')">Click Here!</a>
                </div>
            </div>
            <div data-src="/images/slide2.jpg">
                <div class="caption fadeIn">
                    <h2>Editor</h2>
                    <div class="p3">Phasellus porta. Fusce susct</div>
                    <p class="p1">Phasellus porta. Fusce susct varius mi. Cum sociis natoque penabus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.</p>
                    <a class="a2" href="#">Click Here!</a>
                </div>
            </div>
            <div data-src="/images/slide3.jpg">
                <div class="caption fadeIn">
                    <h2>Publications</h2>
                    <div class="p3">Phasellus porta. Fusce susct</div>
                    <p class="p1">Phasellus porta. Fusce susct varius mi. Cum sociis natoque penabus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.</p>
                    <a class="a2" href="#">Click Here!</a>
                </div>
            </div>
        </div>
    </div>
</div>
    
}

<div id="content">
    <div class="container_12" id="Welcome">
        <div class="row">
            <div class="grid_12">
                <h4>Welcome!</h4>
                <div class="p5">As a freelance writer. dignissimos Ducmus qublanditiis Raesentium volup.</div>
            </div>
        </div>
        <div class="grid_12 bg3">
            <div class="grid_4 alpha block1">
                <figure class="icon">
                    <img src="/images/icon1.png" alt="">
                </figure>
                <h5>Freelance</h5>
                <p class="mrg1">At vero eos et accusamus. Esto<br>odio dignissimos Ducmus qublanditiis Raesentium voluptatum<br>Deleniti atque mass. Errupti quos<br>et quas molestias.</p>
                <a class="a3" href="#">more info</a>
            </div>
            <div class="grid_4 block1">
                <figure class="icon">
                    <img src="/images/icon2.png" alt="">
                </figure>
                <h5>Journalism</h5>
                <p class="mrg1">At vero eos et accusamus. Esto<br>odio dignissimos Ducmus qublanditiis Raesentium voluptatum<br>Deleniti atque mass. Errupti quos<br>et quas molestias.</p>
                <a class="a3" href="#">more info</a>
            </div>
            <div class="grid_4 omega block1">
                <figure class="icon">
                    <img src="/images/icon3.png" alt="">
                </figure>
                <h5>Copy Edit</h5>
                <p class="mrg1">At vero eos et accusamus. Esto<br>odio dignissimos Ducmus qublanditiis Raesentium voluptatum<br>Deleniti atque mass. Errupti quos<br>et quas molestias.</p>
                <a class="a3" href="#">more info</a>
            </div>
        </div>
        <div class="row" id="Publications">
            <div class="grid_6 txt1">
                <h3>Why Hire <br>A Freelance Writer?</h3>
                <figure>
                    <img class="img1 mrg2 img5" src="images/page1_img1.jpg" alt="">
                </figure>
                <p class="mrg3">Consecteturadipisicing elit, sed do eiusmod. Tempor incididunt ut<br>labore et dolore magna aliqu. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisiex ea commodo consequat. Duis ute<br>irure dolor in reprehenderit in voluptate velit.</p>
                <a class="a3" href="#">more info</a>
            </div>
            <div class="grid_3">
                <h3 class="mrg txt1 mrg21">Publications</h3>
                <ul class="list">
                    <li><a href="#">Links</a></li>
                    <li><a href="#">Executive administration</a></li>
                    <li><a href="#">Purchasing and procurement</a></li>
                    <li><a href="#">Contracts administration</a></li>
                    <li><a href="#">HR and benefits administration</a></li>
                    <li><a href="#">Business management</a></li>
                    <li><a href="#">Sales and account management</a></li>
                    <li><a href="#">Account support</a></li>
                    <li><a href="#">Marketing and communications</a></li>
                    <li><a href="#">Project management</a></li>
                    <li><a href="#">Customer service</a></li>
                </ul>
            </div>
            <div class="grid_3">
                <h3 class="mrg mrg21 txt1">References</h3>
                <ul class="list1">
                    <li><a href="#">Administrative Assistants</a></li>
                    <li><a href="#">Clerk-Typists</a></li>
                    <li><a href="#">Customer Service Representative</a></li>
                    <li><a href="#">Data Entry Personnel</a></li>
                    <li><a href="#">File Clerks</a></li>
                    <li><a href="#">Inventory Clerks</a></li>
                    <li><a href="#">Mailroom Clerks</a></li>
                    <li><a href="#">Order Processing Clerks</a></li>
                    <li><a href="#">Proof/Encoders</a></li>
                    <li><a href="#">Receiving/QA Clerks</a></li>
                    <li><a href="#">Receptionist/Switchboard Personnel</a></li>
                    <li><a href="#">Shipping Clerk</a></li>
                </ul>
            </div>
        </div>

        <div class="grid_12 txt1">
            <div class="text_hr"><h3 class="bg4">Our Capabilities</h3></div>
            <p class="p4"><span>Lorem ipsum dolor sit amet</span> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
            <div class="block2">
                <figure class="img2">
                    <img class="img1 img5" src="images/page1_img2.jpg" alt="">
                </figure>
                <p class="p6 pad1">We only recruit the best candidates for each company’s specific employment needs. Furthermore, we make sure the candidate’s style and the company’s culture are a perfect match.</p>
                <p class="p6">Our employment guarantee is backed by years of experience and a reputation for excellence in service. <a class="a4" href="#">Since 1952</a>, Company name is North America’s premier Search and Staffing service. Our consulting and research staff is interactively supported by over 120 Comany offices throughout the United States and Canada.</p>
            </div><div class="clear"></div>
        </div>

        <div class="row">
            <div class="grid_12 block3 txt1">
                <div class="grid_2 alpha">
                    <div class="p7">My Clients and Partners</div>
                </div>
                @*<div class="grid_3 txt brd1">
                    <a class="a5" href="#">McGarry</a>
                </div>
                <div class="grid_2">
                    <a class="a6" href="#">Thompson</a>
                </div>*@
                <div class="grid_3 txt brd2">
                    <a class="a7" href="http://www.ephratareview.com/">The Ephrata Review</a>
                </div>
                <div class="grid_3 txt">
                    <a class="a5" href="http://www.flymagazine.net/">Fly Magazine</a>
                </div>
                @*<div class="grid_2 omega">
                    <a class="a8" href="http://www.flymagazine.net/">Fly Magazine</a>
                </div>*@
            </div>
        </div>

        <div class="grid_12">
            <h3 class="pad2 mrg5">What’s New?</h3>
            <div id="owl">
                <div class="item">
                    <figure class="date">
                        <img class="img1 mrg4" src="images/page1_img3.jpg" alt="">
                        <time class="p9" datetime="2014-10-30"><span class="p8">30</span>oct<br>2014</time>
                    </figure>
                    <div class="date1">
                        <p>
                            <span class="p12">Lorem ipsum dolor sit amet.</span>
                            Consecteturadipisicing elit, sed do eiusmod.
                        </p>
                        <p class="mrg6">Tempor incididunt ut labore et dolore magna aliqu. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisiex ea commodo consequat.</p>
                        <a class="a9" href="#">more</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="item">
                    <figure class="date">
                        <img class="img1 mrg4" src="images/page1_img4.jpg" alt="">
                        <time class="p9" datetime="2014-10-30"><span class="p8">25</span>oct<br>2014</time>
                    </figure>
                    <div class="date1">
                        <p>
                            <span class="p12">Lorem ipsum dolor sit amet.</span>
                            Consecteturadipisicing elit, sed do eiusmod.
                        </p>
                        <p class="mrg6">Tempor incididunt ut labore et dolore magna aliqu. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisiex ea commodo consequat.</p>
                        <a class="a9" href="#">more</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="item">
                    <figure class="date">
                        <img class="img1 mrg4" src="images/page1_img5.jpg" alt="">
                        <time class="p9" datetime="2014-10-30"><span class="p8">17</span>oct<br>2014</time>
                    </figure>
                    <div class="date1">
                        <p>
                            <span class="p12">Lorem ipsum dolor sit amet.</span>
                            Consecteturadipisicing elit, sed do eiusmod.
                        </p>
                        <p class="mrg6">Tempor incididunt ut labore et dolore magna aliqu. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisiex ea commodo consequat.</p>
                        <a class="a9" href="#">more</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="item">
                    <figure class="date">
                        <img class="img1 mrg4" src="images/page1_img3.jpg" alt="">
                        <time class="p9" datetime="2014-10-30"><span class="p8">30</span>oct<br>2014</time>
                    </figure>
                    <div class="date1">
                        <p>
                            <span class="p12">Lorem ipsum dolor sit amet.</span>
                            Consecteturadipisicing elit, sed do eiusmod.
                        </p>
                        <p class="mrg6">Tempor incididunt ut labore et dolore magna aliqu. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisiex ea commodo consequat.</p>
                        <a class="a9" href="#">more</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="item">
                    <figure class="date">
                        <img class="img1 mrg4" src="images/page1_img4.jpg" alt="">
                        <time class="p9" datetime="2014-10-30"><span class="p8">25</span>oct<br>2014</time>
                    </figure>
                    <div class="date1">
                        <p>
                            <span class="p12">Lorem ipsum dolor sit amet.</span>
                            Consecteturadipisicing elit, sed do eiusmod.
                        </p>
                        <p class="mrg6">Tempor incididunt ut labore et dolore magna aliqu. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisiex ea commodo consequat.</p>
                        <a class="a9" href="#">more</a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>

